body {
    position: relative;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
}

img {
    image-rendering: optimizeSpeed; /*                     */
    image-rendering: -moz-crisp-edges; /* Firefox             */
    image-rendering: -o-crisp-edges; /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast; /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
}

.header {
    background-color: #fff;
    height: 10.5em;
    padding: 1em;
}

.form-inline label {
    font-weight: normal;
}

.navbar {
    border: 0;
    padding: 0;
    background-color: rgba(18, 158, 29, 0.9);
    border-radius: 0;
    box-shadow: 0 3px 5px 0 rgba(5,5,5,0.2);
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.logged-navbar {
    height: 6em;
}
.logged-navbar p {
    color:#fff;
}

.centered-navbar {
    position: absolute;
    left: 36%;
    /*width: 50%;*/
    text-align: center;
}
.index-login {

    padding: 0.8em;
    border-radius: 4px;
}
.index-login p{
    font-size: 12px;
    padding-top: 0.5em;
}
.profile {
    padding-top: 1em;
}
.profile >a {
    color: #fff;
}
ul.breadcrumb .profile a {
    color: #000;
}

.container-fluid.himu-mama {
    margin-top: 5em;
}
.banner {
    height: 22em;
}
.banner img {
    position: relative;
    width: 100%;
    height: 30em;
    margin-top: 5px;
}

.index-banner-text {
    position: relative;
    z-index: 1;
    top: -300px;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.6);
    border-radius: 4px;
    padding: 1em 4em;
    width: 55em;
    margin-left: auto;
    margin-right: auto;
}
.banner-button .get_start {
    position: absolute;
    z-index: 1;
    top: 80%;
    left:45%;
    border-radius: 100px;
    padding: 0.5em 1em;
    font-size: large;
}
.banner-button .btn-default {
    background-color: #ED1C24;
    color: #fff;
     border: 1px solid #0bd138;
}
.banner-button .btn-default:hover {
    background-color: #ff4916;
    color: #fff;
     border: 1px solid #0bd138;
}
.logged-banner-text{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20%;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.4);
    border-radius: 4px;
    padding: 1em 4em;

}
.banner-text {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 15%;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.4);
    border-radius: 4px;
    padding: 1em 4em;

}

/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 90px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 90px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */






.section2 {
    /*margin-top: 5em;*/
}

.section2 .fa-book {
    font-size: 3em;
}

.section2 .fa-newspaper-o {
    font-size: 3em;
}

.fa-file-pdf-o {
    font-size: 3em;
}

.book_category {
    margin-top: 5em;
}

.news_category {
    margin-top: 5em;
}

.magazine_category {
    margin-top: 5em;
}

.journal_category {
    margin-top: 5em;
}

.title_result img {
    border-left: 1px solid rgba(167, 169, 172, 0.1);
    border-radius: 2px 2px 0;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
    margin-bottom: 0.6rem;
    transition: opacity 0.1s ease 0s;
    width: 100%;
    height: 16em;
}

.title_result_title {
    color: #2F6595;
}

.title_result_creator {
    color: #A7A9AC;
    line-height: 3px;
    font-weight: 200;
}



.second-banner img {
    height: 27em;
    width: 100%;
}

.single-book {
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 100px;

}

.single-book img {
    height: 25em;

}

.single-book-details {
    position: absolute;
    z-index: 1;
    top: 180px;
    left: 380px;
    color: #000;
    line-height: 5px;

}

.single-book-sort-note {
    background: rgb(248, 248, 248);
    padding: 1em;
    margin-top: 0.8em;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
}

.single-book-sort-note p {
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
    text-align: justify;
}

.download {
    text-align: center;
}

.download a {
    width: 300px;
}

.preview {
    margin: 20px 0px 100px 0px;

}

.single-book-read {
    margin-top: 30px;
}

/*newspaper*/
.news-banner img {
    height: 27em;
    width: 100%;

}

.book-banner {
    background: url('/elibrary/book/baanner-books.jpg') center no-repeat;
    height: 27em;
    width: 100%;
    background-size: cover;

}
.magazine-banner{
    background: url('/elibrary/magazine/magazine-banar.jpg') center no-repeat;
    height: 27em;
    width: 100%;
    background-size: cover;
}
.journal-banner{
    background: url('/elibrary/journal/journal-banner.jpg') center no-repeat;
    height: 27em;
    width: 100%;
    background-size: cover;
}
.letter-banner{
    background: url('/elibrary/letter/letter-banner.jpg') center no-repeat;
    height: 27em;
    width: 100%;
    background-size: cover;
}
.science-banner{
    background: url('/elibrary/book/science-fiction-banner.jpg') center no-repeat;
    height: 27em;
    width: 100%;
    background-size: cover;
}

.news-logo img {
    position: absolute;
    top: 150px;
    left: 100px;
    border-radius: 4px;
    z-index: 1;
}

.breadcrumb {
    padding: 1.5em 8em;
}

.news-image {
    border: 1px solid #dedede;
    padding: 0.8em;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
    /*height: 29em;*/
}

.magazine-image {
    border: 1px solid #dedede;
    padding: 0.8em;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
    height: 29em;

}
.magazine-image img {
    height: 100%;
    width: 100%;
}
.logged-magazine-image {
    border: 1px solid #dedede;
    padding: 0.8em 0.8em 4.5em 0.8em;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
    height: 29em;

}

.logged-magazine-image img {
    height: 100%;
    width: 100%;
}

.news-download {
    margin-top: 20px;
}

.single-news {
    /*margin-top:30px;*/
}

.fa-newspaper-o {
    font-size: 12px;
}

.more-news {
    /*margin-top: 30px;*/
}

.more-news ul li {
    list-style-type: none;
}

.more-news ul {
    padding-left: 0px;
}

/*category*/

.category {
    /*margin-top: 30px;*/
}

.category-result img {
    height: 10em;
    width: 100%;
}

.category-title {
    position: absolute;
    top: 16em;
    left: 100px;
    z-index: 1;
    color: #fff;
    background-color: rgba(5,5,5,0.4);
    padding:0 1em;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
}

.list-group {
    border-left: 1px solid rgba(167, 169, 172, 0.1);
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
}
.list-group a {
    font-size: 0.8em;
}

.news-row {
    margin-bottom: 3em;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.news-list .list-group .fa-newspaper-o {
    color: #0bac33;
    padding: 4px 9px 10px 0px;
    float: left;
}

.news-list .list-group .fa-user-o {
    color: #0bac33;
    padding: 4px 9px 10px 0px;
    float: left;
}

.news-list p {
    border-left: 1px solid rgba(167, 169, 172, 0.1);
    box-shadow: 3px 3px 5px 1px rgba(6, 35, 64, 0.25);
    padding: 1em;
    background-color: #0bac33;
    color: #fff;
    margin: 0;
    font-size: 1em;
}

.col-body {
    /*float: right;*/
    padding-top: 0.5em;
}

/*footer*/
.footer {
    height: 5em;
    background-color: #dedede;
    margin-top: 4em;

}

/*login*/
.login {
    margin-top: 12em;
    margin-bottom: 10em;
    border: 1px solid #0bac33;
    padding: 4em;
    border-radius: 4px;
}

/*registration*/
.register {
    margin-top: 10em;
    margin-bottom: 8em;
    border: 1px solid #0bac33;
    padding: 4em;
    border-radius: 4px;
}

.register hr {
    background-color: #0bac33;
    height: 1px;
    border: 0;
}

.login-info::before {
    content: "\2698";
    color: #0bac33;
    padding: 0 0.8em;
}

.login-info::after {
    content: "\2698";
    color: #0bac33;
    padding: 0 0.8em;
}

.personal-info::before {
    content: "\2698";
    color: #0bac33;
    padding: 0 0.8em;
}

.personal-info::after {
    content: "\2698";
    color: #0bac33;
    padding: 0 0.8em;
}

/*success*/
.success {
    padding: 10em 0em 18em;

}

/*admin*/
.top {
    padding-top: 5em;
}

.left-menu {
    background-color: #f8f8f8;
    padding-bottom: 25em;
    padding-left: 0px;
    padding-top: 16px;


}

.left-sidebar ul li {
    border-bottom: 1px solid #dedede;
}

.admin-content {
    padding-top: 2em;
}
.navbar-default .navbar-brand {
    color: #fff;
}

/*payment*/
.payment {
    border: 1px solid #0bac33;
    padding: 1em 1em 5em;
}

.payment hr {
    background-color: #0bac33;
    height: 1px;
}

.payment h3::before {
    content: "\2021";
    padding: 1em;
    color: #0bac33;
}

.payment h3::after {
    content: "\2021";
    padding: 1em;
    color: #0bac33;
}

.send {
    padding: 2em;
}

/*owl carousel*/

.owl-carousel div img{
    height: 16em;

}

.owl-nav {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 180px;
    /* display: inline; */
    margin-top: 3em;
}
.owl-prev {
    display: inline;
    padding: 6px 20px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    margin-right: 10px;
    background-color: #0bac33;
    color: #fff;
}
.owl-prev:hover {
    background-color: #0bd138;
}
.owl-next{
    display: inline;
    padding: 6px 20px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    margin-left: 10px;
    background-color: #0bac33;
    color: #fff;
}
.owl-next:hover {
    background-color: #0bd138;
}

.footer p.text-center {
    padding-top: 2em;
}